<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kevinshome - main</title>
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 50%;
        }
    </style>
</head>
<body>
    <h1>kevinshome</h1>
    <p>This is the website for kevinshome</p>
    <a href="/quotes">Quotes</a>
</body>
<footer>
    <a href="mailto:webmaster@kevinsho.me">Contact</a>
</footer>
</html>